SectorCustomizations.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD Customization for Testing New Object Element</title>
      </titleStmt>
      <publicationStmt>
        <p>Working draft - Published (preliminarily) on GitHub</p>
      </publicationStmt>
      <sourceDesc>
        <p>Written by Suzanne Raybuck as a part of her Editing, Writing, and Media Internship</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="object_tests" start="TEI">
        <moduleRef key="header"/>
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="transcr"/>
        <moduleRef key="analysis"/>
        <moduleRef key="linking"/>
        <moduleRef key="msdescription"/>
        <moduleRef key="tagdocs" include="gi"/>
        <elementSpec ident="objectSector" mode="add">
          <gloss>Object Sector</gloss>
          <desc>A division of an object for the purpose of accurate description by abstract or
            concrete parts</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="att.3dcoordinates"/>
            <memberOf key="att.placement"/>
          </classes>
        </elementSpec>
        <elementSpec ident="object" mode="change">
          <content>
            <sequence>
              <elementRef key="objectIdentifier" minOccurs="1" maxOccurs="unbounded"/>
              <classRef key="model.headLike" minOccurs="0" maxOccurs="unbounded"/>
              <alternate>
                <classRef key="model.pLike" minOccurs="0" maxOccurs="unbounded"/>
                <sequence>
                  <elementRef key="objectSector" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="msContents" minOccurs="0"/>
                  <elementRef key="physDesc" minOccurs="0"/>
                  <elementRef key="history" minOccurs="0"/>
                  <elementRef key="additional" minOccurs="0"/>
                </sequence>
              </alternate>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <classRef key="model.noteLike"/>
                <classRef key="model.biblLike"/>
                <elementRef key="linkGrp"/>
                <elementRef key="link"/>
              </alternate>
              <elementRef key="object" minOccurs="0"/>
            </sequence>
          </content>
        </elementSpec>
        <elementSpec ident="objectDesc" module="msdescription" mode="change">
          <content>
            <alternate>
              <sequence>
                <classRef key="model.pLike" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="sectorDesc" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
              <sequence>
                <elementRef key="supportDesc" minOccurs="0"/>
                <elementRef key="layoutDesc" minOccurs="0"/>
              </sequence>
            </alternate>
          </content>
        </elementSpec>
        <elementSpec ident="sectorDesc" mode="add">
          <gloss>Sector Desc Description</gloss>
          <desc>A subdivision of an object for the purpose of accurate description</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="att.placement"/>
            <memberOf key="att.3dcoordinates"/>
          </classes>
          <content>
            <classRef key="model.pLike" minOccurs="1" maxOccurs="unbounded"/>
          </content>
          <attList>
            <attDef ident="place" mode="change">
              <gloss>specifies a place or general area on an object</gloss>
            </attDef>
          </attList>
        </elementSpec>
        <classSpec ident="att.placement" mode="change" type="att">
          <desc>provides attributes for describing where on an object an element appears. </desc>
        </classSpec>
        <classSpec ident="att.3dcoordinates" type="atts" mode="add">
          <desc>provides attributes to describe a rectangular prism of space on an 3D coordinate
            grid using two points and depth</desc>
          <attList>
            <attDef ident="x1" mode="add">
              <desc>x value of point 1</desc>
              <datatype>
                <dataRef key="tei.numeric"/>
              </datatype>
            </attDef>
            <attDef ident="y1" mode="add">
              <desc>y value of point 1</desc>
              <datatype>
                <dataRef key="tei.numeric"/>
              </datatype>
            </attDef>
            <attDef ident="z1" mode="add">
              <desc>z value of point 1</desc>
              <datatype>
                <dataRef key="tei.numeric"/>
              </datatype>
            </attDef>
            <attDef ident="x2" mode="add">
              <desc>x value of point 2</desc>
              <datatype>
                <dataRef key="tei.numeric"/>
              </datatype>
            </attDef>
            <attDef ident="y2" mode="add">
              <desc>y value of point 2</desc>
              <datatype>
                <dataRef key="tei.numeric"/>
              </datatype>
            </attDef>
            <attDef ident="z2" mode="add">
              <desc>z value of point 2</desc>
              <datatype>
                <dataRef key="tei.numeric"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
